{
    "loudspeaker":      "NoName",
    "fs":               44100,
    "source":           "none",
    "level":            -20.0,
    "gain_headroom":    20.0,
    "equal_loudness":   true,
    "lu_offset":        9.0,
    "target":           "+3.0-1.5",
    "balance":          0,
    "bass":             0.0,
    "treble":           0.0,
    "tone_defeat":      false,
    "drc_set":          "none",
    "xo_set":           "",
    "solo":              "off",
    "muted":            false,
    "midside":          "off",
    "polarity":         "++",
    "subsonic":         "off",
    "extra_delay":      0.0
}
