
# Loudspeaker in use
fs:             44100
loudspeaker:    DynBM6

# Audio device backend
device: Auriculares externos       # Auriculares en el MacBook
#device: MacBook Pro (altavoces)    # Altavoces del MacBook
#device: E30 II                     # DAC USB Topping E30

# On init preferences (low level settings)
polarity:           ++
solo:               off
tones_span_dB:      6.0

# On init preferences (audio settings)
balance:            0.0
target:             +3.0-1.0
equal_loudness:     true
lu_offset:          6.0
drc_set:            equilateral


# Inputs. By now only system-wide
inputs:
    - system-wide
