#
# This is the simplest config :-)
# Please see doc/ and doc/config_examples for more features
#

samplerate: 44100


coreaudio:

    devices:

        capture:

            channels: 2
            device: BlackHole 2ch
            format: FLOAT32LE

        playback:

            channels: 2
            device: Altavoces del MacBook Pro
            format: FLOAT32LE

