# Audio devices
fs: 44100
input:
    device:      BlackHole 2ch
    format:      FLOAT32LE
output:
    #device:      Auriculares externos        # Auriculares en el MacBook
    device:      MacBook Pro (altavoces)     # Altavoces del MacBook
    #device:      E30 II                      # DAC USB Topping E30
    format:      FLOAT32LE
    dither_bits: 16                           # void or 0 to disable


# Loudspeaker in use
loudspeaker:    DynBM6

# Any provided loudspeaker/drc.X.XXX FIR files must have a
# known mid band unity gain offset, it is a design decision.
drcs_offset:      -6.0


# On init preferences (low level settings)
tones_span_dB:      6.0

# On init preferences (audio settings)
level:              -20.0
balance:            0.0
target:             +3.0-1.0
equal_loudness:     true
lu_offset:          3.0
drc_set:            SW


# Inputs. By now only system-wide
inputs:
    - system-wide


