
fs:     44100

# Auriculares en el MacBook
#device: Auriculares externos
# Altavoces del MacBook
device: MacBook Pro (altavoces)
# DAC USB Topping E30
#device: E30 II

loudspeaker: DynBM6

# On init preferences:
target:             +3.0-1.5
equal_loudness:     true
drc_set:            equilateral

inputs:
    - system-wide
