# MAIN SETTINS:

# Detection threshold in dB.
# Pay attention to background noise in system (A/D)
# if using a card with input ports.
pk_threshold: -50.0

# Monitor the <system:input> port
system_input: true

# EXPERT SETTINGS

# We only take a few samples from the jack buffer to speed up
# the CPU usage in the jack_monitor real-time callback.
# Set about 100 for low speed CPU, or increase it for accuracy.
n_samples: 100

# Seconds of listening before moving on to the next source.
monitor_time: 1

# Minimum duration in ms to be consider as signal presence
minimum_ms: 250

# pAudio backend TCP port
pa_port: 9990
