# Detection peak threshold in dB.
# Pay attention to background noise in system (A/D)
# if using a card with input ports.
thr_db: -50.0

# Monitor the physical <system:input> port
system_input: false

# A few samples to take from the jack buffer to speed up
# CPU usage in the 'jack_monitor' callback
n_samples: 100

# Seconds of listening before moving on to the next source.
monitor_time: 1

# pAudio backend TCP port
pa_port: 9990
